.image-card {
    width: 500px;
    margin-left: auto;
}

.profile-icon{
    margin-top: 10px;
    margin-bottom: 10px;
    float:right;
    margin-right: 0px;
    background-color: #263238 ;
}

.tinyLogo {
    width: 35px;
    height: 35px;
    cursor: pointer;

}

.profile-desc {
    display: flex;
    flex-direction: row;
}

.media {
    height: 400px;
}

.avatar {
    background-color: red;
}

.hash-tag{
    color:#87ceeb;
}

.like-section {
    display: flex;
    flex-direction: row;
}

.comments-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.comment-text{
    text-align: left;
}
.comment-box{
    display: flex;
    flex-direction: row;
}
.comment-input{
    width: fit-content;
}
