.header-container {
    background-color:  #263238;
    width: 100%;
    overflow: hidden;
}

.header-text {
    float: left;
    display: block;
    color:#fff;
    font-size: 18px;
}

.profile-icon {
    float: right;
    color:#fff;
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
}

.search-bar {
    float: right;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    width: 300px;
    background-color:#c0c0c0 ;
}

.profile-icon{
    margin-top: 10px;
    margin-bottom: 10px;
    float:right;
    margin-right: 0px;
    background-color:#c0c0c0 ;
}
